* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
}

.parent {
	display: flex;
}

.form {
	display: flex;
	flex-direction: column;
}

.side--link {
	flex: 1 1 1;
}
